.pie-chart-card {
  width: 100%;
  height: 400px;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}
